@import url('https://fonts.googleapis.com/css2?family=Moirai+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

.header{
    height: 8%;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

#logo{
    color: white;
}

.navv{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: large;
    color: white;
}

.navv li{
    display: flex;
    direction: none;
}

.navv a{
    color: white;
    text-decoration: none;
}

.btn{
    background-color: gray;
    margin: 5px;
    padding: 5px 3px;
    border: none;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
}