* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

#logo{
    color: white;
}

.navv{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: large;
    color: white;
}

.navv li{
    display: flex;
    direction: none;
}

.navv a{
    text-decoration: none;
}